main {
  display: flex;
}

.icon {
  width: 300px;
  height: auto;
}
body {
  overflow: scroll;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  /* width: 500px; */
}

/* @media only screen and (min-width: 1024px){
  .icon {
    width: 600px;
  }
} */
